    body {
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #d2e3e6;
    }
    
    h1 {
        font-size: 50px;
        font-weight: bold;
        text-shadow: 1px 1px;
        /* text-shadow: 2px 2px; */
    }
    
    #h1 {
        color: rgb(185, 184, 184);
    }
    
    #h3 {
        text-align: center;
    }
    
    a {
        color: black;
        font-weight: bold;
    }
    
    a:hover {
        color: rgb(255, 106, 47);
        transition-duration: 2s;
    }
    
    #bg_second {
        background: url(pics/shellfish-3062011_640.jpg);
        background-size: cover;
    }
    
    #bg_index {
        background-image: url(pics/pier-569314_640\ \(1\).jpg);
        background-size: cover;
    }
    
    #bg_third {
        background-image: url(pics/hong-kong-1990268_640.jpg);
        background-size: cover;
    }
    
    #bg_fourth {
        background-image: url(pics/summer-2391348_640.jpg);
        background-size: cover;
    }
    
    #bg_form {
        background-image: url(pics/winter-4727156_640.jpg);
        background-size: cover;
    }
    
    img {
        padding: 10px;
    }
    
    #img_center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .selector-for-some-widget {
        box-sizing: content-box;
    }
    
    #form {
        max-width: 500px;
        margin: auto;
        background: #9ad8e9;
        padding: 10px;
    }
    
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }
    /* This container is needed to position the front and back side */
    
    .flip-card-inner {
        position: relative;
        width: 300px;
        height: 300px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    /* Do an horizontal flip when you move the mouse over the flip box container */
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    /* Position the front and back side */
    
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 300px;
        height: 300px;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }
    /* Style the front side (fallback if image is missing) */
    
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
    /* Style the back side */
    
    .flip-card-back {
        background-color: #a1a7f3;
        color: black;
        transform: rotateY(180deg);
    }
    
    #rating {
        max-width: 500px;
        margin: auto;
        background: #c3ecee;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid black;
    }
    
    .checked {
        color: orange;
    }